@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-3">
   
    <div class="mt-1 p-5 bg-info text-dark ">
        <h1>Welcome to Investo</h1>
        <div>
            <h5> Check out  for more detail </h5>
             <p> Sign Up for more  ......</p>

        </div>
         
    </div>
</div>
<!--<div class="text-center">-->
    @*<h1 class="display-4">Welcome to Investo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
<!--</div>-->
